/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Asul&family=Combo&family=Dancing+Script&family=Passions+Conflict&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;

}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
body{
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, 
    #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) ;
}
/* navbar styling */
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Asul', sans-serif;
}
nav.sticky{
  background: linear-gradient(to right top, #9a9ae1, #8aa7ec, 
    #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1) ;
  padding: 13px 0;
}
nav .navbar{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navbar .logo a{
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}
nav .navbar .logo span{
    color: #f51f10;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: 1200;
}
nav .navbar .menu{
  display: flex;
  position: relative;
}
nav .navbar .menu li{
  list-style: none;
  margin: 0 8px;
}
.navbar .menu a{
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color: rgb(243, 12, 139);
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: black;
}
.navbar .menu .menu-btn{
  color: #fff;
}
nav .cv-btn{
    display: flex;
    font-family: 'Asul', sans-serif;
}

nav .cv-btn a{
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    color: black;
    border-width:2px;
    border-style:solid;
}

nav .cv-btn a:hover{
  color:  #05076d;
  box-shadow: 0 .125rem .25rem #0018f3;
}

/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Asul', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: black;
  font-family: 'Combo', cursive;
  font-weight: bold;
}
.home .text-two{
  color: #0E2431;
  font-size: 50px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 30px;
  margin: 5px 0;
  color: black;
  font-family: 'Combo', cursive;
  font-weight: bold;
}
.home .social-media {
    position: relative;
    top: 10px;
    display:flex;
    justify-content: left;
    align-items: center;
}

.home .social-media a{
    line-height: 5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin: .5rem;
    font-size: 2.5rem;
}
.home .social-media a:hover{
    color:blue;
}
.images{
    height: 95%;
    width: 50%;
    position:absolute;
    bottom:0;
    right: 100px;
    
}
.images img {
    height: 100%;
    position:absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);    
}

/* About Section Styling */
section{
  padding-top: 40px;
  
}
section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Asul', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: black;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 500px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  font-size: 25px;
  font-family: 'Asul', sans-serif;
  color: #0E2431;
  font-weight: 400;
}

/*My Education */
.educ{
    width: 100%;
    height: 30vh;
    place-items: center;
    display: grid;
}

.educ .title{
    color: black;
    font-family: 'Asul', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.container {
  min-height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: rgb(176, 196, 240);
  color: rgb(12, 10, 10);
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:hover {
  box-shadow: 0 .125rem 1.25rem #0018f3;
  color: #05076d;
  font-weight: bold;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: 'Asul', sans-serif;
}
.timeline-content h1 span{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 10px;
  }
.timeline-content h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    font-family: 'Asul', sans-serif;

  }
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  font-family: 'Asul', sans-serif;
}


/* My Cert CSS */
.certificates .title-content{
  font-family: 'Combo', cursive;
  font-size: 30px;
  font-weight: bold;
}
.certificates .title-content span{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
.certificates .container{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}
.certificates .box{
  height: 180px;
  padding:35px;
  text-align: center;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);
}
.certificates .box:hover{
  box-shadow: 0 .125rem 1.25rem rgb(243, 12, 139);
  color: #0018f3;
  font-weight: bold;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.certificates .box p{
  font-size: 15px;
}
.certificates .box h2{
  font-size: 22px;
}
.certificates .btn{
  color: white;
  border:none;
  outline: none;
  font-size: 17px;
  margin-top: 10px;
  padding: 8px 15px;
  background:#333;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  margin-top: 30px;
}
.certificates .btn:hover{
  letter-spacing: 1px;
  transition: scale(1.03);
  box-shadow: 0 10px 150x rgba(0,0,0,0.3);

}

/* Contact Me CSS */
.container-container{
  width: 85%;
  background: transparent;
  border-radius: 5px;
  padding: 20px 60px 30px 40px;
}
.container-container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  background: #3535c2;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #4111c5;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  color: #4111c5;
  font-weight: bold;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 15px;
  color: #020202;
}
.container-container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #4111c5;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #6247da;
  color: rgb(0, 0, 0);

}




/* Footer CSS */
footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
   
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .menu-btn, 
  .navbar .menu .cancel-btn{
    display: block;
  }
  nav .cv-btn{
    display: none;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .home .images img{
      display: none;
    }
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
}

/* Media Query for Education */
@media only screen and (min-width: 768px) {
    .timeline:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 100%;
      background-color: gray;
    }
    .timeline ul li {
      width: 50%;
      position: relative;
      margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even) {
      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: rgb(218, 71, 115);
      top: 0px;
    }
    .timeline ul li:nth-child(odd)::before {
      transform: translate(50%, -50%);
      right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
      transform: translate(-50%, -50%);
      left: -30px;
    }
    .timeline ul li:hover::before {
      background-color: rgb(25, 7, 182);
    }
  }

  /* Media Query for Certificates */
  @media (max-width: 770px){
    .certificates .content{
      padding: 20px;
    }
    .certificates .box{
      height: auto;
    }
  }

  /* Media Query for Contact */
  @media (max-width: 950px) {
  .container-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container-container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container-container{
    margin: 40px 0;
    height: 100%;
  }
  .container-container .content{
    flex-direction: column-reverse;
  }
 .container-container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container-container .content .left-side::before{
   display: none;
 }
 .container-container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}